.header {
  position: absolute;
  top: 30px;
  width: 100%;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {}

.logo_title {
  color: var(--color-primary);
}

.logo_subtitle {
  color: var(--color-light-xl);
}

.nav {}

.nav_list {
  display: flex;
  justify-content: space-between;
}

.nav_item {
  margin-left: 36px;
}

.nav_item:first-child {
  margin-left: 0;
}

.nav_link {}

section {}

.start_screen {
  padding-top: 180px;
  background: var(--gradient-background-start);
}

.start_screen_content {
  display: flex;
  justify-content: space-between;

}

.content_1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 42px;
  max-width: 460px;
  margin-top: 163px;
}

.start_screen_image {
  margin-left: 42px;
  height: 728px;
}

.about {
  padding: 80px 0 100px;
  color: var(--color-light-xl);
}

.about_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
  max-width: 430px;
}

.about_image {
  margin-right: 120px;
}

.about_image img {
  display: block;
}

.pets {
  padding: 80px 0 100px;
  background-color: var(--color-light-l);
}

.pets_content,
.help_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.pets_title,
.help_title {
  max-width: 400px;
  text-align: center;
}

.slider {
  display: flex;
  align-items: center;
  gap: 53px;
}

.button_arrow {
  padding: 21px 17px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
}

.button_arrow>img {
  display: block;
}

.slider_pets {
  display: flex;
  align-items: center;
  gap: 90px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 270px;
  height: 435px;
  padding-bottom: 30px;
  border-radius: 9px;
  background-color: var(--color-light-s);
}

.help {
  padding: 80px 0 100px;
  background-color: var(--color-light-xl);
}

.help_content {
  margin: 0 85px;
}

.help_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 120px;
  row-gap: 55px;
}

.help_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 113px;
}

.help_item>img {
  display: block;
}

.donation {
  padding: 80px 0 100px;
  background-color: var(--color-light-l);
}

.donation_content {
  margin: 0 143px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donation_image {
  margin-right: 30px;
}

.donation_image>img {
  display: block;
  vertical-align: middle;
}

.content_3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
}

.donation_title {
  max-width: 300px;
}

.number {
  padding: 10px 13px;
  border-radius: 9px;
  background-color: var(--color-primary);
}

.number>img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.number>h3 {
  display: inline-block;
  vertical-align: middle;
}

.text_small {
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-dark-m);
}

.footer {
  padding-top: 40px;
  background: var(--gradient-background-footer);
}

.footer_content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer_card {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts {
  width: 279px;
  gap: 40px
}

.location {
  width: 302px;
  gap: 33px
}

.card_item {
  white-space: nowrap;
}

.card_item img {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  margin-right: 16px;
}

.card_item h3 {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
}

.footer_h2 {
  color: var(--color-light-xl);
}

.footer_h3 {
  color: var(--color-primary);
}

.footer_image>img {
  display: block;
}