.header {
  position: absolute;
  top: 30px;
  width: 100%;
}

.logo {
  transition: 0.5s;
}

.logo_title {
  color: var(--color-primary);
  transition: 0.5s;
}

.logo_subtitle {
  color: var(--color-light-xl);
  transition: 0.5s;
}

.logo:hover .logo_title {
  color: var(--color-primary-light);
}

.logo:hover .logo_subtitle {
  color: var(--color-dark-s);
}

.nav_link {
  color: var(--color-dark-s);
}

.nav_link:hover {
  color: var(--color-light-s);
}

.nav_link:active,
.nav_link_active {
  color: var(--color-light-s);
}

.nav_link_active {
  cursor: default;
}

.nav_item:active,
.nav_item_active {
  border-bottom: 3px solid var(--color-primary);
}

.burger_item {
  background-color: var(--color-primary);
}

.start_screen {
  padding-top: 180px;
  background: var(--gradient-background-start);
}

.start_screen_content {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.content_1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 42px;
  width: 460px;
  margin-bottom: 80px;
}

.content_1 p {
  color: var(--color-dark-s);
}

.start_screen_image {
  max-width: 698px;
  margin-left: 10px;
}

.start_screen_image img {
  display: block;
  width: 100%;
}

.about {
  padding: 80px 146px 100px 145px;
  color: var(--color-light-xl);
}

.about_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content_2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
  max-width: 430px;
}

.content_2 p {
  color: var(--color-dark-xl);
}

.empty {
  width: 120px;
}

.about_image img {
  display: block;
}

.pets_content,
.help_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.pets_title,
.help_title {
  max-width: 400px;
  text-align: center;
}

.slider {
  display: flex;
  align-items: center;
  gap: 53px;
}

.button_arrow {
  padding: 21px 17px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  transition: 0.5s;
}

.button_arrow:hover {
  background: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
  cursor: pointer;
}

.button_arrow>img {
  display: block;
}

.slider_pets {
  display: flex;
  align-items: center;
  gap: 90px;
}

.help {
  padding: 80px 0 100px;
  background-color: var(--color-light-xl);
}

.help_content {
  margin: 0 85px;
}

.help_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 120px;
  row-gap: 55px;
}

.help_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 113px;
}

.help_item>img {
  display: block;
}

.donation {
  padding: 80px 0 100px;
  background-color: var(--color-light-l);
}

.donation_content {
  margin: 0 143px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donation_image {
  margin-right: 30px;
}

.donation_image>img {
  display: block;
  vertical-align: middle;
}

.content_3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 19px;
}

.donation_title {
  max-width: 300px;
}

.number {
  padding: 10px 13px;
  border-radius: 9px;
  background-color: var(--color-primary);
  transition: 0.5s;
}

.number>img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.card_number {
  display: inline-block;
  vertical-align: middle;
}

.number:hover {
  background-color: var(--color-primary-light);
  cursor: pointer;
}

.number:hover .card_number {
  color: var(--color-dark-3xl);
}

.text_small {
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  color: var(--color-dark-m);
}


@media (max-width: 991px) {
  .start_screen {
    padding-top: 150px;
  }

  .start_screen_content {
    flex-direction: column;
  }

  .start_screen_image {
    align-self: flex-end;
    max-width: 569px;
    margin-left: 40px;
  }

  .content_1 {
    margin-bottom: 100px;
    width: 100%;
    padding: 0 124px;
  }

  .content_1 .button {
    align-self: center;
  }
}

@media (max-width: 767px) {
  .content_1 {
    max-width: 600px;
    padding: 0 70px;
  }

}

@media (max-width: 575px) {
  .header {
    padding: 0 10px;
  }

  .text_h1 {
    font-size: 25px;
    letter-spacing: 1.5px;
    text-align: center;
  }

  .content_1 {
    align-items: center;
    max-width: 396px;
    padding: 0;
    margin-bottom: 105px;
  }

  .content_1 p {
    text-align: center;
  }

}